@import "../../index.scss";

/*start hr-section-1*/
.hr-section-1 {
  h1 {
    font-size: 35px;
    color: $purple-500;
    font-weight: bold;
    font-family: $ft-poppins;
    line-height: 1.5;
    padding-top: 10px;
    margin-bottom: 30px;
    .hero-bord {
      border-bottom: 14px solid transparent;
      border-image: url("../../images/hero-bord.svg") 25;
    }
    .to-be {
      font-style: italic;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
  p {
    font-size: 16px;
    color: $purple-500;
    font-family: $ft-poppins;
    line-height: 1.8;
  }
  .ex-now {
    padding: 8px 55px;
    background-color: $purple-500;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 25px;
    transition: all 0.5s ease-in-out;
    a {
      color: #fff;
      font-size: 17px;
      font-weight: 400;
    }
    &:hover {
      opacity: 0.8;
      &:before {
        content: url(../../images/btn-before.svg);
        position: absolute;
        left: 0;
        margin: -20px -15px;
      }
      &:after {
        content: url(../../images/btn-after.svg);
        position: absolute;
        margin: -20px 60px;
      }
    }
  }
  .gr-mentor {
    padding: 3px 0;
    width: 120px;
    font-size: 14px;
    background-color: $purple-300;
    border-radius: 24px;
    margin-right: 10px;
    margin-top: 10px;
  }
}
/*end hr-section-1*/

/*start hr-section-2*/
.hr-section-2 {
  background-image: url("../../images/hero2.svg");
  background-size: cover;
  padding: 0 80px 60px;
  .hero-icon-angle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -18px;
    i {
      font-size: 20px;
      color: $purple-300;
      border: 1px solid $purple-300;
      background-color: #fff;
      border-radius: 50%;
      padding: 10px 13px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: $purple-300;
        color: #fff;
      }
    }
  }
  h1 {
    font-size: 20px;
    font-family: $ft-poppins;
    color: $purple-300;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    span {
      color: $purple-500;
    }
  }
  .ml-card-4 {
    margin-left: 1rem;
  }
  .card-overlay {
    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
    right: 0;
    bottom: -0.75rem;
    border: 2px solid $purple-300;
    z-index: 9999;
    border-radius: 7px;
  }
  .card-help {
    height: 100%;
    background-color: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 3rem;
    .img-card {
      img {
        width: auto;
      }
    }
    h6 {
      font-family: $ft-poppins;
      font-size: 20px;
      color: $purple-gray;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    p {
      font-family: $ft-poppins;
      font-size: 14px;
      color: $purple-gray;
      line-height: 1.8;
    }
  }
}
/*end hr-section-2*/
/*start hr-section-3*/
.hr-section-3 {
  h6 {
    color: $purple-200;
    font-size: 16px;
    font-family: $ft-poppins;
    font-weight: 300;
    margin-bottom: 15px;
  }
  h1 {
    color: $purple-500;
    font-size: 28px;
    font-family: $ft-poppins;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  p {
    color: $purple-gray;
    font-family: $ft-poppins;
    line-height: 1.8;
    margin-bottom: 10px;
  }
  .btn-arrow {
    .btn-g-m-start {
      background-color: $purple-400;
      padding: 10px 25px;
      border-radius: 24px;
      font-size: 16px;
      font-family: $ft-poppins;
      margin-top: 10px;
      transition: all 0.4s ease-in-out;
      a {
        color: #fff;
      }
      &:hover {
        box-shadow: 4px 4px $cyan;
      }
    }
    img {
      width: auto;
    }
  }
  .shadow-img {
    img {
      box-shadow: 10px 10px $purple-400;
      border-radius: 10px;
    }
    &::before {
      content: url(../../images/curve-img.svg);
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }
  .shadow-img-cy {
    img {
      box-shadow: 10px 10px $cyan;
      border-radius: 10px;
    }
    &::before {
      content: url(../../images/curve-img-cy.svg);
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }
}
/*end hr-section-3*/
/*start hr-section-4*/
.hr-section-4 {
  background: url(../../images/hero5.svg) no-repeat;
  background-size: cover;
  p {
    color: $purple-500;
    font-size: 18px;
    font-family: $ft-poppins;
    padding: 14px 0;
    line-height: 1.8;
    img {
      width: auto;
      position: absolute;
      top: -15px;
      left: 0;
    }
  }
  .hero-img-p {
    text-align: center;
    img {
      width: auto;
      background-color: #e1e8f8;
      padding: 10px;
      border-radius: 45%;
    }
    h6 {
      font-size: 16px;
      font-family: $ft-poppins;
      color: $purple-500;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      font-family: $ft-poppins;
      color: $purple-gray;
      font-weight: 400;
      padding: 0;
      line-height: 1;
    }
  }
}
/*end hr-section-4*/

/*start hr-section-5*/
.hr-section-5 {
  .wings {
    padding: 4rem;
    padding-bottom: 1rem;
    background-image: url(../../images/border-wings.svg);
    background-repeat: no-repeat;
    background-size: 35rem auto;
    font-size: 24px;
    text-align: center;
    background-position: center;
    h1 {
      color: $purple-500;
      font-weight: bold;
      font-family: $ft-poppins;
    }
  }
  .met-or-gur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding-bottom: 100px;
    button {
      padding: 5px 0;
      width: 140px;
      font-size: 16px;
      font-family: $ft-poppins;
      border-radius: 24px;
      background-color: $purple-400;
      transition: all 0.4s ease-in-out;
      &:hover {
        box-shadow: 4px 4px $cyan;
      }
    }
    h1 {
      margin: 0 15px;
      color: $purple-400;
      font-weight: 300;
      font-family: $ft-poppins;
    }
  }
  hr {
    border: 1px solid $purple-500;
    border-radius: 24px;
  }
}
/*end hr-section-5*/

/*start hr-section-6*/
.hr-section-6 {
  text-align: center;
  h2,
  p {
    color: $purple-500;
    font-family: $ft-poppins;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }
}
/*end hr-section-6*/

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-prev:before {
  font-size: 40px;
  position: absolute;
  left: 3rem;
  top: -1rem;
}
.slick-next:before {
  font-size: 40px;
  position: absolute;
  //   right: 0rem;
  top: -1rem;
  right: 2rem;
}

.slick-prev:before,
.slick-next:before {
  color: #5f59f7;
}
