@import "../../index.scss";

/*start navbar*/
header {
  background-color: #f6f6f6;
  box-shadow: 0px -3px 22px #32326b69;
  margin-bottom: 10px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-ham {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo a {
      display: flex;
      justify-content: center;
      h1 {
        font-size: 24px;
        font-family: $ft-poppins;
        color: $purple-500;
        font-weight: bold;
        font-style: italic;
      }
      span {
        font-size: 20px;
        font-family: $ft-Maru-Pop;
        font-weight: bold;
        color: $purple-300;
        text-align: center;
        font-style: normal;
        padding: 1px 0 0 5px;
      }
    }
    .hamburger {
      display: none;
      background-color: transparent;
      border: 0;
      color: $purple-500;
      font-size: 22px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.4s ease-in;
      li {
        margin: 15px 25px;
        text-transform: capitalize;
        &:last-child {
          margin: 15px 0;
        }
        a {
          color: $purple-400;
          font-family: $ft-poppins;
          font-size: 14px;
          transition: all 0.4s;
          &:hover {
            border-bottom: 2px solid $purple-300;
          }
        }
        .hero {
          font-family: $ft-Maru-Pop;
          font-size: 16px;
          &:hover {
            border-bottom: 8px solid transparent;
            border-image: url("../../images/hero-bord.svg") 30;
          }
        }
        .bg-purple-400 {
          background-color: $purple-400;
          font-family: $ft-poppins;
          font-size: 14px;
          color: #fff;
          padding: 2px 30px;
          border-radius: 24px;
          &:hover {
            border: none;
          }
        }
      }
    }
  }
}
/*end navbar*/
