div {
  .danger {
    color: #721c24;
  }
}
.alert-danger {
  position: relative;
  padding: 0.75rem 1.25rem;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

// .closebtn {
//   margin-left: 15px;
//   color: #8c4045;
//   font-weight: bold;
//   float: right;
//   font-size: 22px;
//   line-height: 20px;
//   cursor: pointer;
//   transition: 0.3s;
// }

// .closebtn:hover {
//   color: #3e3637;
// }
