@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider-content .slick-prev:before {
  font-size: 40px;
  position: absolute;
  z-index: 9999;
  right: -1rem;
  top: -0.5rem;
}
.slider-content .slick-next:before {
  font-size: 40px;
  position: absolute;
  z-index: 9999;
  left: 0rem;
  top: -0.5rem;
}

.slider-content .slick-prev:before,
.slider-content .slick-next:before {
  color: #5f59f7;
}
