@import "../../index.scss";

/*start footer*/
footer {
  background-color: $purple-500;
  color: #fff;
  padding: 15px 0;
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      font-size: 14px;
      font-family: $ft-poppins;
      font-weight: 400;
    }
    .icon-foooter {
      display: flex;
      justify-content: center;
      align-items: center;
      li a {
        font-size: 18px;
        margin-right: 10px;
        color: #fff;
      }
    }
  }
}
/*end footer*/
