@import "../../index.scss";

/* start page Explore*/
/* start hr-section-11*/
.hr-section-11 {
  padding: 5px 80px 15px;
  .topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      color: #414141;
    }
    .search {
      display: flex;
      align-items: center;
      width: 24rem;
      label {
        margin-right: 10px;
        color: #414141;
        font-size: 16px;
      }
    }
  }
  input[type="search"] {
    width: 73%;
    background-color: #f3f4f7;
    border-radius: 7px;
    border: solid 1px #6592fd;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    outline: none;
  }

  input[type="search"] {
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }

  input[type="search"] {
    background-image: url(../../images/search-icon.svg);
  }
}

/* end hr-section-11*/
/* end hr-section-12*/
.hr-section-12 {
  background-color: #f3f4f7;
  padding: 0;
  .slider-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 0.2rem 1.75rem 1.75rem 1rem;
    .slider-content {
      // display: flex;
      // align-items: center;
      .slider-item {
        width: 15rem;
        height: 10rem;
        // padding: 1rem;
        cursor: pointer;
        .card-img {
          // position: relative;
          background-color: #fff;
          padding: 0.75rem;
          height: 100%;
          border-radius: 7px;
          .slider-purple-border {
            // position: absolute;
            // left: 0;
            // right: 0;
            // top: 0;
            // bottom: 0;
            border: 1px solid $purple-300;
            border-radius: 7px;
            // transform: translate(4px, 4px);
          }
          img {
            height: 100%;
          }
        }
        .card-name {
          text-align: center;
          p {
            color: $purple-300;
          }
        }
      }
    }
  }
}
/* end hr-section-12*/
/* end hr-section-13*/
.hr-section-13 {
  padding: 15px 80px;
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      color: #414141;
    }
    .select-services {
      display: flex;
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 1px solid #6592fd;
        background: #f3f4f7;
        flex: 1;
        padding: 0 0.5em;
        color: #414141;
        cursor: pointer;
        height: 100%;
        background-image: none;
      }
      .sort-by,
      .filter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13rem;
        line-height: 3;
        overflow: hidden;
        border-radius: 0.25em;
        height: 1.65rem;
        &::after {
          content: url(../../images/select-arrow.svg);
          position: absolute;
          top: -0.65rem;
          right: 0;
          padding: 0 0.55rem;
          cursor: pointer;
          pointer-events: none;
          -webkit-transition: 0.25s all ease;
          -o-transition: 0.25s all ease;
          transition: 0.25s all ease;
        }
        label {
          margin-right: 0.5rem;
          font-size: 16px;
        }
      }
      .sort-by {
        margin-right: 1.75rem;
      }
    }
  }
}
/* end hr-section-13*/
/*start hr-section-14*/
.hr-section-14 {
  padding: 15px 80px;
  .container {
    min-height: calc(100vh - 400px);
  }
  .course-card {
    border: solid 1px #343090;
    height: 350px;
    max-width: 300px;
    border-radius: 13px;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  /* card */
  /* card image */
  .course-img > img {
    max-height: 110px;
    max-width: 260px;
    border: 1px solid #343090;
    border-radius: 12px;
  }
  /* card image */
  /* card mentor info and price */
  .mentor-name-price {
    padding-top: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .mentor-name-price h2,
  .price {
    color: #343090;
  }
  /* card mentor info and price */
  /* mentor name, image and status */
  .mentor-name {
    align-items: center;
  }

  .mentor-img > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #343090;
  }
  .mentor-info {
    line-height: 16px;
    padding-left: 10px;
  }
  .mentor-info :nth-child(1) {
    font-size: 16px;
    font-weight: 400;
  }
  .mentor-info :nth-child(2) {
    font-size: 12px;
    font-weight: 200;
  }
  .mentor-status {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 0 0 12px 5px;
  }
  .status-on {
    background-color: #44c2fd;
  }
  .status-off {
    background-color: #fd8244;
  }
  /* mentor name, image and status */
  /* price */
  .price > p {
    font-size: 16px;
    font-weight: 300;
  }
  /* price */
  /* course info */
  .course-info {
    h2 {
      font-size: 18px;
      font-weight: 400;
    }
  }
  .course-info > p {
    font-size: 14px;
    font-weight: 300;
  }
  /* course info */
  /* course-rate */
  .course-rate {
    align-items: center;
    column-gap: 10px;
    padding-top: 5px;
    margin-top: auto;
    img {
      width: auto;
    }
  }
  .course-rate > p {
    font-size: 16px;
    font-weight: 300;
  }
  .list-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    li {
      margin: 0.5rem 0.75rem;
      padding: 0.5rem 0.9rem;
      border: 1px solid $purple-300;
      border-radius: 5px;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
        box-shadow: 0px 0px 7px $purple-300;
      }
    }
    li.active {
      opacity: 1;
      box-shadow: 0px 0px 7px $purple-300;
    }
  }
}
/*end hr-section-14*/
/* end page  Explore*/

.BrainhubCarousel__trackContainer {
  ul {
    height: 210px;
  }
}
