@import "../../index.scss";

/* start page sign up*/
/* start hr-section-8*/
.hr-section-8 {
  background-color: #f3f4f7;
  min-height: calc(100vh - 122px);
  h1 {
    color: $purple-500;
    padding-bottom: 1.5rem;
  }
  .form-register-container {
    max-width: 90%;
    min-width: 16rem;
    border-radius: 8px;
    padding: 3rem 3.5rem 1rem;
    background-color: #fff;
  }
  .nav-form {
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transform: translate(0px, 15px);
    z-index: 9999;
    li {
      background-color: #fff;
      width: 32%;
      height: 2.6rem;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      margin-right: 2rem;
      .overlay-form {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        border: 3px solid $purple-300;
        z-index: 9999;
        max-width: 30%;
        border-radius: 7px;
        opacity: 0.5;
        transform: translate(-3px, 5px);
        font-size: 13px;
        color: #000;
        padding: 0.4rem;
        &:hover {
          opacity: 0.8;
        }
      }
      .active {
        border: 3px solid $purple-300;
        opacity: 1;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .btn-sign {
    padding: 3px 0;
    width: 140px;
    font-size: 16px;
    background-color: #8c61ff;
    border-radius: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  select {
    padding-right: 5px;
    margin-right: 6px;
  }
}
/* end hr-section-8*/
/* end page sign up*/
