@import "../../index.scss";

/* start page sign in-hero*/
.header-signIn-hero {
  padding: 0.5rem 0 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .arrow {
    img {
      width: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scaleX(1.25);
      }
    }
  }
  .nav-signIn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
