@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
/* global*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
}
section {
  padding: 60px 80px;
  height: 100%;
}
.font-bold {
  font-weight: bold;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}

.btn {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  color: white;
  transition-duration: 0.3s;
  a {
    color: #fff;
  }
}
svg {
  display: block;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.just-cont-cntr {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.alin-itms-cntr {
  align-items: center;
}
form,
form div {
  padding-bottom: 10px;
}

input {
  width: 100%;
  background-color: #f3f4f7;
  border: none;
  border-radius: 7px;
  padding: 0.35rem 1rem;
  :focus {
    outline-offset: none;
  }
}
label {
  font-size: 14px;
}
select {
  background-color: #f3f4f7;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0;
}

input[type="text"],
input[type="password"],
input[name="sign-in-email"],
input[name="register-email"],
input[type="tel"] {
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
input[type="text"] {
  background-image: url(./images/user-icon.svg);
}

input[type="password"] {
  background-image: url(./images/lock-icon.svg);
}
input[name="sign-in-email"] {
  background-image: url(./images/user-icon.svg);
}

input[name="register-email"] {
  background-image: url(./images/at-icon.svg);
}

input[type="tel"] {
  background-image: url(./images/phone-icon.svg);
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.container-sign {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
}
.btn-purple-500 {
  background: #343090;
  border-radius: 25px;
  width: 200px;
  padding: 0.3rem 0;
}
.btn-purple-200 {
  background: #6592fd;
  border-radius: 25px;
  width: 200px;
  padding: 0.3rem 0;
}
.btn-purple-400 {
  margin-left: auto;
  margin-right: auto;
  background-color: #5f59f7; /* $purple-400 */
  padding: 0.2rem 2.5rem;
  border-radius: 25px;
}

/*global*/
/* margin and padding*/

$spaceamounts: (
  0,
  1,
  2,
  3,
  4,
  5
); // Adjust this to include the rem amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space/2}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space/2}rem !important;
    }
  }
}

/* margin and padding*/

$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
  "": 0,
  "-sm": $grid__bp-sm,
  "-md": $grid__bp-md,
  "-lg": $grid__bp-lg,
  "-xl": $grid__bp-xl,
);

@mixin create-mq($breakpoint, $min-or-max) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint, "min") {
    .col#{$modifier}-offset-0 {
      margin-left: 0;
    }

    @for $i from 1 through $grid-cols {
      .col#{$modifier}-#{$i} {
        flex: 0 0 (100 / ($grid-cols / $i)) * 1%;
        max-width: (100 / ($grid-cols / $i)) * 1%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 1rem;
      }
      .col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i)) * 1%;
      }
    }
  }
}

@each $modifier, $breakpoint in $map-grid-props {
  @if ($modifier == "") {
    $modifier: "-xs";
  }
  @include create-mq($breakpoint - 1, "max") {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, "min") {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  &-fluid {
    margin: 0;
    max-width: 100%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@each $modifier, $breakpoint in $map-grid-props {
  @include create-col-classes($modifier, $grid__cols, $breakpoint);
}

/*end grid system**/
$ft-poppins: "Poppins", sans-serif;
$ft-Maru-Pop: "Hachi Maru Pop", cursive;
$purple-200: #6592fd;
$purple-300: #8c61ff;
$purple-400: #5f59f7;
$purple-500: #343090;
$purple-gray: #77758e;
$cyan: #44c2fd;
$text-color: #414141;
/* fontsize: 24-20-18-16-14(px)*/

/*media*/
@media screen and (min-width: 992px) {
  .col-lg-30 {
    flex: 0 0 29%;
    max-width: 29%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .hr-section-22 .mentor-appointment-control-container .appointment-title {
    width: 24.75rem;
  }
  .hr-section-22 .notes-container {
    width: 90%;
    margin: 0 auto;
  }
  .hr-section-23
    .guardian-home
    .basic-info-child
    .child-course-card
    .child-course-info
    h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .hr-section-19 .lead-profile {
    font-size: 16px;
  }
  .hr-section-19 .mentor-rate h3 {
    font-size: 22px;
  }
  .hr-section-19 .p-service .service-category {
    font-size: 16px;
  }
  .hr-section-19 .slider-service .slider-service-content .circle-arrow-left {
    left: 6.5%;
  }
  .hr-section-19 .purchase-container {
    max-width: 32.5rem;
  }
  .hr-section-20 {
    min-height: calc(100vh - 122px);
  }
}
@media screen and (max-width: 1024px) {
  .hr-section-21 {
    padding: 15px 0;
  }
  .hr-section-21
    .mentor-dashboard
    .dashboard-course-service
    .service-info-details
    .select-topic-price {
    flex-direction: column;
    gap: 2px;
  }
  .hr-section-22 .mentor-appointment-control-container .appointment-title {
    width: 10rem;
  }
  .hr-section-22 {
    padding: 15px 0;
  }
  .hr-section-23 .guardian-home .basic-info-child .someone-child {
    left: -3.5%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 94%;
    padding-right: 0;
    padding-left: 0;
  }
  section {
    padding: 30px 0;
  }
  .hr-section-3 .btn-g-m-start::after {
    bottom: 50px;
  }
  .hr-section-2 .card-overlay {
    max-width: 230px;
  }
  .hr-section-9,
  .hr-section-16 {
    padding: 30px 0;
  }
  .hr-section-2 .ml-card-4 {
    margin-left: 0;
  }
  .hr-section-11,
  .hr-section-13,
  .hr-section-14 {
    padding: 15px 0;
  }
  .hr-section-21 {
    padding: 15px 80px;
  }
  .hr-section-21
    .mentor-dashboard
    .dashboard-course-service
    .service-info-details
    .select-topic-price {
    flex-direction: row;
    gap: 11px;
  }
  .hr-section-22 {
    padding: 15px 0;
  }
  .hr-section-22 .mentor-appointment-control-container .appointment-title {
    width: 16.25rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  header nav .navbar {
    display: none;
  }

  header nav .hamburger {
    display: block;
  }
  header nav .navbar {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
    z-index: 9999;
  }
  header nav .navbar.show {
    transform: translatey(110%);
    opacity: 1;
    padding-bottom: 10px;
  }
  .hr-section-2 .hero-icon-angle {
    top: 0;
  }
  .hr-section-3 .btn-g-m-start::after {
    bottom: 10px;
  }
  .hr-section-2 .card-overlay {
    max-width: 260px;
  }
  .hr-section-8 .nav-form {
    max-width: 100%;
  }
  .hr-section-8 .form-register-container {
    max-width: 95%;
  }
  .header-signIn-hero::before {
    top: 2%;
  }
  .hr-section-15 .p-profile {
    margin-bottom: 1rem;
    padding-right: 15px;
  }
  .hr-section-19 {
    padding: 0 1rem;
  }
  .hr-section-19 .p-service {
    padding-right: 15px;
  }
  .hr-section-19 .slider-service {
    padding: 1rem 0;
  }
  .hr-section-19 .slider-service .slider-service-content .circle-arrow-left {
    left: 0;
  }
  .hr-section-19 .slider-service .slider-service-content .circle-arrow-right {
    right: 0;
  }
  .hr-section-19 .purchase-container {
    max-width: 100%;
  }
  .hr-section-21 .mentor-dashboard .basic-info-form .upload-picture {
    margin-top: 0.25rem;
  }
  .hr-section-23 .guardian-home .basic-info-child .someone-child {
    left: -6%;
  }
}
@media screen and (max-width: 576px) {
  .hr-section-1 {
    text-align: center;
  }
  .hr-section-1 .ex-now:hover:before {
    margin: -1.2rem 2.5rem;
  }
  .hr-section-2 {
    padding: 35px 38px 125px;
  }
  .hr-section-3 {
    text-align: center;
  }
  .hr-section-5 .wings {
    padding: 3rem;
    padding-bottom: 1rem;
    background-size: 20rem auto;
    font-size: 14px;
  }
  .hr-section-2 .card-help,
  .hr-section-2 .card-overlay {
    max-width: 240px;
  }
  .hr-section-7 .nav-form {
    padding: 0;
  }
  .hr-section-7 .form-container,
  .hr-section-8 .form-register-container {
    padding: 3rem 1.75rem;
  }
  .hr-section-7 {
    padding-bottom: 55rem;
  }
  .hr-section-9 .form-container {
    max-width: 100%;
  }
  .hr-section-9 .hero-signIn {
    height: 230px;
  }
  .hr-section-11 .topic {
    display: block;
  }
  .hr-section-11 .topic h4 {
    margin-bottom: 0.5rem;
  }
  .hr-section-11 input[type="search"] {
    width: 60%;
  }
  .hr-section-11 .topic .search {
    width: 22rem;
  }
  .hr-section-13 .services {
    display: grid;
  }
  .hr-section-13 .services h4 {
    margin-bottom: 0.75rem;
  }
  .hr-section-13 .services .select-services {
    display: grid;
  }
  .hr-section-13 .services .select-services .sort-by {
    margin-bottom: 0.75rem;
  }
  .hr-section-15 .p-profile {
    padding: 0;
  }
  .hr-section-15 {
    margin: 0 0 1rem 0;
  }
  .hr-section-19 .mentor-rate {
    display: block;
  }
  .hr-section-19 .visit-profile {
    display: block;
    .mentor-service-info {
      margin-bottom: 1rem;
    }
  }
  .hr-section-19 .purchase-container {
    display: block;
  }
  .hr-section-19 .purchase-container > div {
    margin-bottom: 1rem;
  }
  .hr-section-20 .available .available-course {
    display: grid;
  }
  .hr-section-21 {
    padding: 15px 0px;
  }
  .hr-section-21 .mentor-dashboard {
    flex-direction: column;
  }
  .hr-section-22 .name-plate {
    flex-direction: column;
    gap: 2.5rem;
  }
  .hr-section-22
    .mentor-appointment-control-container
    .appointment-control-item {
    flex-direction: column;
    align-items: stretch;
  }
  .hr-section-22 .mentor-appointment-control-container .appointment-title {
    width: auto;
  }
  .hr-section-23 .guardian-home {
    flex-direction: column;
    align-items: center;
  }
  .hr-section-23 {
    padding: 25px 0;
  }
  .hr-section-23 h3 {
    text-align: center;
    margin-left: 0;
  }
  .hr-section-23 .guardian-home .nav-guardian-home {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }
  .hr-section-23 .guardian-home .basic-info-child .someone-child {
    top: -2.5%;
    left: 0;
  }
  footer .footer-info {
    display: block;
    text-align: center;
  }
  footer .footer-info h5 {
    margin-bottom: 10px;
  }
}
