div {
  .success {
    color: #155724;
  }
}
.alert-success {
  position: relative;
  padding: 0.75rem 1.25rem;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 10000;
}

// .closebtn {
//   margin-left: 15px;
//   color: #8c4045;
//   font-weight: bold;
//   float: right;
//   font-size: 22px;
//   line-height: 20px;
//   cursor: pointer;
//   transition: 0.3s;
// }

// .closebtn:hover {
//   color: #3e3637;
// }
